﻿body{
font-family: "PT Sans", sans-serif;
		font-size:16px;
		color:black;
		background-color:white;
		background-image:url('../images/trans3.jpg');
		background-repeat:repeat-x;
}
		
#contentBox{border: 2px solid green;
        margin-right:10%;
        margin-left:10%;
        height:auto;
        background-image:url('../images/contentbg.jpg');
        background-size:cover;
}

a{
    text-decoration:none;
    color:blue;
    font-size:1.4em;
}


a:hover{
    
    color:green;
    font-size:1.4em;

}

.rightMenu

        {
                display: inline-block;
                margin: 50px auto 0 600px;
                text-align:right;
     
        }

.centerBreadcrumb

        {
                margin-top:800px;
                margin-left:30px;
        }


footer {
	margin-left: 0;
	display: block;
    width:100%;
    height:260px;
    padding-top:50px;
	background-image:url('../images/foot.png');
	background-size:100% 100%;

}
