﻿<%@ Page Title="CDCC CAA System" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="ChangePassword.aspx.vb" Inherits="PAGES_PUBLIC_ChangePassword" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server"><section style="min-height:300px;padding-bottom:24px;padding-left:50px;margin-top:20px;height:auto;margin-right:5px;margin-left:5px;width:600px;"> 
    <asp:ChangePassword ID="ChangePassword1" runat="server" CancelDestinationPageUrl="~/PAGES/EMPLOYEES/HomePage.aspx" ContinueDestinationPageUrl="~/PAGES/EMPLOYEES/HomePage.aspx">
    </asp:ChangePassword></section>
</asp:Content>

