﻿<%@ Page Title="Forgot Password" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="ForgotPass.aspx.vb" Inherits="PAGES_PUBLIC_ForgotPass" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <asp:PasswordRecovery ID="PasswordRecovery1" runat="server">
        <MailDefinition From="aliegseem@hotmail.com" Subject="YOOOOO">
        </MailDefinition>
    </asp:PasswordRecovery>
</asp:Content>

