﻿<%@ Page Title="CDCC CAA System" Language="VB" MasterPageFile="../../MasterPage.master" AutoEventWireup="false" CodeFile="HomePage.aspx.vb" Inherits="HomePage" %>

<%-- Add content controls here --%>
<asp:Content ID="Content1" runat="server" contentplaceholderid="ContentPlaceHolder2">
    <br />
    <section style="min-height:300px;padding-bottom:24px;padding-left:50px;height:309px; margin-right:5px;margin-left:5px;width:1114px;">
    <span style="font-size:1.2em;"><strong>HOME PAGE</strong></span><br/>
        <section style="margin-left:50px;width:auto;height:auto;margin-top:20px;">
			<asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/IMAGES/buttons/inqLog.png" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:ImageButton ID="ImageButton2" runat="server" ImageUrl="~/IMAGES/buttons/reqMan.png"  />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:ImageButton ID="ImageButton3" runat="server" ImageUrl="~/IMAGES/buttons/inqMan.png" />
            <br />
<br />

            <asp:ImageButton ID="ImageButton4" runat="server" ImageUrl="~/IMAGES/buttons/repMan.png" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:ImageButton ID="ImageButton5" runat="server" ImageUrl="~/IMAGES/buttons/depCustCompMan.png" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:ImageButton ID="ImageButton6" runat="server" ImageUrl="~/IMAGES/buttons/userMan.png" />
            </section></section>
    <br />



        

    

</asp:Content>

