﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="InquiryManagement.aspx.vb" Inherits="PAGES_EMPLOYEES_InquiryManagement" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <section style="min-height:400px;padding-bottom:24px;padding-left:50px;margin-top:40px;height:auto;margin-right:5px;margin-left:5px;width:600px;"> <p>
    <span style="font-size:1.2em;text-align:center;"><strong>INQUIRY MANAGEMENT</strong></span></p>
        <p>
			<asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/IMAGES/buttons/editInquiry.png" />
			&nbsp;&nbsp;&nbsp;&nbsp;
			<asp:ImageButton ID="ImageButton2" runat="server" ImageUrl="~/IMAGES/buttons/delInq.png" />
        </p></section> 
</asp:Content>

