﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="RequestManagement.aspx.vb" Inherits="PAGES_EMPLOYEES_RequestManagement" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
   <section style="min-height:400px;padding-bottom:24px;padding-left:50px;margin-top:20px;height:auto;margin-right:5px;margin-left:5px;width:700px;">  <h3>REQUEST MANAGEMENT</h3><p>
			<asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/IMAGES/buttons/createRequest.png" />
        &nbsp;&nbsp;&nbsp;
        &nbsp;<asp:ImageButton ID="ImageButton2" runat="server" ImageUrl="~/IMAGES/buttons/editReq.png" />
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;<asp:ImageButton ID="ImageButton3" runat="server" ImageUrl="~/IMAGES/buttons/delReq.png" />
        </p></section>
</asp:Content>

