﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="SummaryReports.aspx.vb" Inherits="PAGES_EMPLOYEES_SummaryReports" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <section style="min-height:400px;padding-bottom:24px;padding-left:50px;margin-top:20px;height:auto;margin-right:5px;margin-left:5px;width:700px;"><h3>SUMMARY &amp; EXCEPTION REPORTING</h3>  <p>
			<asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/IMAGES/buttons/sumResource.png" NavigateUrl="StatusReport.aspx"/>
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;<asp:ImageButton ID="ImageButton2" runat="server" ImageUrl="~/IMAGES/buttons/sumFreq.png" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<asp:ImageButton ID="ImageButton3" runat="server" ImageUrl="~/IMAGES/buttons/customerSatisfaction.png" />
        &nbsp;&nbsp;</p></section>
</asp:Content>

